# Flutter
build/
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Android
android/.gradle/
android/app/build/
*.iml
*.apk
*.aar

# VS Code
.vscode/

# Otros
*.log